<!DOCTYPE html>
<html lang="en">

<head>
	<title>NUScheduler</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'homepage/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<!-- Navbar -->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
			<a class="navbar-brand" href="">
				<img src="{% static 'homepage/img/NUScheduler-logo.png' %}" class="responsive-img" width="150" height="60" alt="NUScheduler Logo">
			</a>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
					<h6 style="color:#f6f6f6">Login stuff here</h6>
        </ul>
    </div>
	</nav>


	<div class="container-fluid" style="min-height:95%;">
		<!--Sidebar-->
		<div class="row">
			<div class="col-sm-1">
				<br>
				<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
					<ul class="nav nav-tabs flex-column">
						<li><a href="/">Home</a></li>
						<li><a href="/schedules/">Schedules</a></li>
						<li><a href="/updates/">Updates</a></li>
					</ul>
				</div>
			</div>

			<!--Content-->
			<div class="col-sm-11">
				<div class="container-fluid">
					<br><br>
						{% block content %}
						{% endblock %}
				</div>
			</div>
		</div>
	</div>

	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>	
	
</body>

</html>