{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <h2>Welcome to NUScheduler!</h2>
    <br>
    <h4><i class="far fa-question-circle"></i> About </h4>
    
    <h6>This is a platform created for NUS students to share what modules they have taken in each semester. This will allow junior students and incoming freshmen to have a
        better idea of how they can map their modules. 
    
    <br><br>
        Anyone can view schedules uploaded by others on this platform by clicking on the 'Schedules' button above. However, only logged in users will be able to comment or 
        leave a like on individual schedule posts. Logged in users can also bookmark schedules that they find interesting to review it again at a later time. Bookmarked 
        schedules can be accessed from the user's profile page.
    
    <br><br>
        To upload your schedule, log in, and click the 'Share your schedule' button above and enter the required information. Currently, timetables are only displayed in image
        format, thus please make sure you have an image of your timetable for the respective semesters that you wish to share. 
        <br><br>
        For the benefit of others who may wish to know how you have planned your modules throughout your NUS life, please try to upload your past timetables as well. 
        (Sorry for the hassle, we are looking to improve on this functionality to allow users to upload all their timetables so far in one post in the future. Also, 
        we are also looking to improve on the module selection to allow viewers to customise schedules shared by seniors)
    </h6>

</div>
<!--{% include "homepage/includes/htmlsnippet.html" %}-->

{% endblock %}