{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <h1>Profile Information</h1>
    <p><b>First Name:</b> {{ user.first_name }}</p>
    <p><b>Last Name:</b> {{ user.last_name }} </p>
    <p><b>Faculty:</b> {{ user.faculty }} </p>
    <p><b>Course name:</b> {{ user.course_name }} </p>
    <p><b>Year of Study:</b> {{ user.year }} </p>
    <p><b>Date Joined:</b> {{ user.date_joined }} </p>

    <button type="button" class="btn btn-primary"><a href="{% url 'view_uploaded_schedules' id=user.id %}" style="color:#f6f6f6">View Uploaded Schedules</a></button>
</div>
{% endblock %}

