<!DOCTYPE html>
<html lang="en">

<head>
	<title>NUScheduler</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="{% static 'homepage/css/bootstrap.min.css' %}" type = "text/css"/>
	
	<!-- FontAwesome CSS-->
	<link rel="stylesheet" href="{% static 'homepage/css/all.css' %}"/>
	
	<!-- Custom styles for this template -->
    <link href="{% static 'homepage/css/simple-sidebar.css' %}" rel="stylesheet">
	
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>

</head>

<body class="body" style="background-color:#f6f6f6">
	<!-- Navbar -->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
			<a class="navbar-brand" href="{% url 'home' %}">
				<img src="{% static 'homepage/img/NUScheduler-logo.png' %}" class="responsive-img" width="150" height="60" alt="NUScheduler Logo">
			</a>
			<div class="navbar-nav">
				<a href="{% url 'home' %}" class="nav-item nav-link"><i class="fas fa-home fa-fw " style="color:white"></i> Home</a></li>
				<a href="{% url 'schedule' %}" class="nav-link"><i class="far fa-calendar fa-fw " style="color:white"></i> Schedules</a></li>
				<a href="{% url 'updates' %}" class="nav-link"><i class="fas fa-wrench " style="color:white"></i> Updates</a></li>
			</div>
		</div>
		{% if user.is_authenticated %}
		<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><button type="button" class="btn btn-danger"><a href="{% url 'schedule_submit' %}" style="color:#f6f6f6"><i class="fas fa-share"></i> Share your schedule</a></button></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'view_profile' %}"><i class="fas fa-user" style="color:white"></i> Profile</a></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt" style="color:white"></i> Logout</a></li>
			</ul>
		</div>
		
		{% else %} 
		

		<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt" style="color:white"></i> Login</a></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'register' %}"><i class="fas fa-user-plus" style="color:white"></i> Register</a></li>
			</ul>
		</div>
		{% endif %}
	</nav>


	<div class="container-fluid">
		<div class="row">
			
			<div style="float:left; width:400px; height:100%;"></div>

			<!--Content-->
			<div class="col offset-0" style="margin-top:80px;">
				<div class="container-fluid">
					<br><br>
					{% if messages %}
						{% include 'partials/messages.html' %}
					{% endif %}

					{% block content %}
					{% endblock %}
				</div>
			</div>

			<div style="float:right; width:400px; height:100%;"></div>
		</div>
	</div>
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
	
	<!-- FontAwesome SVG JS -->
	<script defer src="{% static 'homepage/js/all.js' %}"></script>

	<script src='https://www.google.com/recaptcha/api.js'></script>

</body>

</html>

