<!DOCTYPE html>
<html lang="en">

<head>
	<title>NUScheduler</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="{% static 'homepage/css/bootstrap.min.css' %}" type = "text/css"/>
   
	<!-- Custom styles for this template -->
    <link href="{% static 'homepage/css/simple-sidebar.css' %}" rel="stylesheet">
	
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>

</head>

<body class="body" style="background-color:#f6f6f6">
	<!-- Navbar -->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top stickty-top">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
			<a class="navbar-brand" href="/">
				<img src="{% static 'homepage/img/NUScheduler-logo.png' %}" class="responsive-img" width="150" height="60" alt="NUScheduler Logo">
			</a>
	</div>
	{% if user.is_authenticated %}
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
			<li class="nav-item"><button type="button" class="btn btn-danger"><a href="/schedule/submit/" style="color:#f6f6f6">Share your schedule</a></button></li>
			<li class="nav-item"><a class="nav-link" href="{% url 'view_profile' %}">Profile</a></li>
			<li class="nav-item"><a class="nav-link" href="/logout/">Logout</a></li>
        </ul>
	</div>
	
	{% else %} 
	

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item"><a class="nav-link" href="/login/">Login</a></li>
			<li class="nav-item"><a class="nav-link" href="/register/">Register</a></li>
		</ul>
	</div>
	{% endif %}
	</nav>


	<div class="container-fluid">
		<!--Sidebar-->
		<div class="row">
			<div class="col-sm-1 position-fixed" style="background:#343a40; height:100%">
				<div class="sidebar-nav">
					<ul class="nav flex-column align-items-center" style="margin-left:-50px; margin-top:80px;">
						<li><a href="/" class="nav-link">Home</a></li>
						<li><a href="/schedule/" class="nav-link">Schedules</a></li>
						<li><a href="/updates/" class="nav-link">Updates</a></li>
					</ul>
				</div>
			</div>
			
			<div style="float:left; width:200px; height:100%;"></div>

			<!--Content-->
			<div class="col offset-1" style="margin-top:80px;">
				<div class="container-fluid">
					<br><br>
						{% block content %}
						{% endblock %}
				</div>
			</div>
			<div style="float:right; width:200px; height:100%;"></div>
		</div>
	</div>
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
	
	<script src='https://www.google.com/recaptcha/api.js'></script>

</body>

</html>

