{% extends 'base.html' %}

{% block content %}
{% if messages %}
<div class="alert alert-success" role="alert">
    <p class="messages">
        {% for message in messages %}
        <h6{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h6>
        {% endfor %}
    </p>
</div>
{% endif %}
<div class="container-fluid">
    <h1>Schedules</h1>

    {% for schedule_post in schedule_posts %}
        <h1><a href="/schedule/{{schedule_post.id}}">{{ schedule_post.title }}</a></h1> 
        {% if schedule_post.image %}
            <img src="{{ schedule_post.image.url }}" width="750"> 
        {% endif %}
        <h6>Posted by <a href="{% url 'view_other_profile' id=schedule_post.user.id %}">{{ schedule_post.user.get_full_name }}</a> on {{ schedule_post.created }}</h6>    
        <h6>Last edited by <a href="{% url 'view_other_profile' id=schedule_post.user.id %}"> {{ schedule_post.user.get_full_name }}</a> on {{ schedule_post.updated }}</h6>
        <br>
    {% endfor %}
    <br>
    <br>
</div>
{% endblock %}
